body {
  margin: 0;
  font-weight: 700;
  font-family: sans-serif, cursive;
  letter-spacing: 0.7;
  font-weight: 800;
}
#text-box {
  height: 250px;
  text-align: center;
  padding-top: 40px;
}

#article {
  position: relative;
  margin-left: 19%;
  padding: 10px;
  text-align: center;
  width: 60%;
  background: white;
  border-radius: 10px;
  line-height: 1.5;
  border: 5px solid #7e7e7e;
}

#textarea {
  border-radius: 10px;
  border: 5px solid #7e7e7e;
  position: relative;
  top: 20px;
  width: 60%;
  height: 20%;
  margin-top: 25px;
}
#bottom-div {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
#count {
  font-size: 40px;
  color: #313438;
}
span {
  font-size: 20px;
  color: #313438;
}
#timer {
  font-size: 40px;
  color: #313438;
}
h2 {
  color: white;
  width: 30%;
  padding: 20px;
}
#logo {
  height: 20px;
  width: 40px;
}
h3 {
  color: #313438;
}

.wrong-text{
  color:#ff1144;
  font-size:16px;
}

